@font-face {
  font-family: lemon-milk;
  src: url(lemonmilk.woff);
}

html, body {
	position: fixed;
	font-size: 30px;
	font-family: lemon-milk;
	display: flex;
	overflow: hidden;
	cursor: none;
	color: #3986c0;
  background-color: #282f33;
}

.circle-unit {
	position: fixed;
	background-color: white;
	border-radius: 50%;
}

#mouse {
	position: fixed;
	background-color: #3986c0;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

#board {
	position: fixed;
	overflow: hidden;
}

#score {
	display: flex;
  flex-wrap: wrap;
	margin-top: 12px;
	margin-left: 100px;
}
