@font-face {
  font-family: lemon-milk;
  src: url(lemonmilk.woff);
}

html, body {
	position: fixed;
  background-color: #282f33;
}

.circle-unit {
	position: fixed;
	background-color: white;
	border-radius: 50%;
}

#board {
	position: fixed;
	overflow: hidden;
}
